
*{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5rem;
}



:root {
  --caribbean_current: #006D77;  /* Dark Slate Gray */
  --tiffany_blue: #83C5BE;      /* Light Sky Blue */
  --alice_blue: #EDF6F9;        /* Alice Blue */
  --pale_dogwood: #FFDDD2;     /* Pale Goldenrod */
  --atomic_tangerine: #E29578; /* Sienna */
}

body {
    margin-left: 20px;
    margin-right: 20px;
}

main {
    width: 50%;
    margin: 0 auto;
}

.caribbean_current {
    color: var(--caribbean_current);
  }
  
  .tiffany_blue {
    background-color: var(--tiffany_blue);
  }
  
  .alice_blue {
    background-color: var(--alice_blue);
  }
  
  .pale_dogwood {
    border-color: var(--pale_dogwood);
  }
  
  .atomic_tangerine {
    color: var(--atomic_tangerine);
  }

  .uppercase {
    text-transform: uppercase;
  }

  .mt-10{
    margin-top: 10px;
  }

  .mb-10{
    margin-bottom: 10px;
  }

  .pt-10{
    padding-top: 10px;
  }

  .pb-10{
    padding-bottom: 10px;
  }

  .pl-10 {
    padding-left:10px;
  }

  .text_decoration {
    text-decoration: none;
  }
  
  .list_style {list-style-type: none}

  .border_style{
    border-radius: 8px;
    
  }

  .height_style{
    height: 150px;
  }
  
  @media only screen and (max-width: 768px) {
   
  }

  